/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/Api.assets.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/Api.csproj.AssemblyReference.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/apphost.exe
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/Application.assets.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/Application.csproj.AssemblyReference.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/Domain.assets.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/Domain.csproj.AssemblyReference.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/Infrastructure.assets.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/Infrastructure.csproj.AssemblyReference.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/project.nuget.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/project.nuget1.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/project.nuget2.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/project.nuget3.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]/shelved.patch
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/Api.assets.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/Api.csproj.AssemblyReference.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/apphost.exe
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/Application.assets.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/Application.csproj.AssemblyReference.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/Domain.assets.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/Domain.csproj.AssemblyReference.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/Infrastructure.assets.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/Infrastructure.csproj.AssemblyReference.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/project.nuget.cache
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44_[Changes]1/shelved.patch
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44__Changes_.xml
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Checkout_at_13-12-22_21_44__Changes_1.xml
/.idea/.idea.projetTI2022/.idea/shelf/Uncommitted_changes_before_Update_at_17-11-22_09_52__Changes_.xml
